In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
X = pd.read_csv("Train.csv")

We will fetch  target column so tht we have can perform operations 
and then pop target column from df so that it include only features 
not the output for the features

In [3]:
X.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [9]:
X.shape 
X_train = X.iloc[: , 0:5].values
Y_train = X.iloc[: ,-1].values

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [14]:
model.fit(X_train,Y_train)

LinearRegression()

In [17]:
print(model.coef_)
print(model.intercept_)

[29.68187118 92.66247759  8.28062089 44.76773522  2.51916121]
4.990966735574956

In [18]:
model.score(X_train , Y_train)

0.9660939669975617

In [20]:
X_test = pd.read_csv("Test.csv")

In [28]:
y_pred = model.predict(X_test)

In [44]:
df1 = pd.DataFrame(y_pred)

In [45]:
df1.head()

            0
0  114.583689
1  118.012815
2  -21.739852
3  -43.936899
4  -95.914898

In [46]:
#saving the predicted target to a csv file
df1.to_csv("Target.csv")